body {
    font-family: 'Poppins', sans-serif;
    background: #f8f9fa;
}

.upload-box {
    max-width: 500px;
    margin: auto;
    background: white;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.upload-box:hover {
    border-color: #007bff;
    background: #f0f8ff;
}

.upload-icon {
    width: 60px;
    height: 60px;
}

.hidden {
    display: none;
}

.pricing-card {
    transition: transform 0.3s ease-in-out;
}

.pricing-card:hover {
    transform: scale(1.05);
}

.progress {
    height: 25px;
    border-radius: 12px;
}

.progress-bar {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.upload-content img{
    height: 100px;
    width: 100px;
}